.navbar-brand img {
    width: 50px;
    height: 40px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.container {
    
    border: 2px solid red;
}
.bg {
    background-color: bisque;
}
.carousel {
    border: 2px solid red;
}
.carousel-item {
    padding: 20px 40px;
}
.buy-now-button {
    background: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color:bisque;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    z-index: 5;
    position: relative;
}
.cat1{
    background: linear-gradient(to right, #ffffff 0%, #b3b5b2 100%);
}
.cat2{
    background: linear-gradient(to right, #ffffff 0%, #b1bede 100%);
}
.cat3{
    background: linear-gradient(to right, #ffffff 0%, #c194b3 100%);
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    img {
        height: 100px;
        width: 100px;
    }
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.categories h1 {
    color: chocolate;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    img {
        height: 40%;
    }
}
#Subscribe {
    height: 300px;
    h6 {
        color: grey;
    }
}
footer {
    border-top: 2px solid #3d72a7; /* Adds a light border for separation */
}

footer p {
    font-size: 0.9rem; /* Adjust font size for readability */
    color: #dcdcdc; /* Softer text color for modern look */
}

